<div class="row h-100 login__bg-color text-light">
  <div class="col-12">
    <div class="row h-100 align-content-center justify-content-center">
      <div class="col-12 display-4 text-center mb-5">My Scheduler</div>
      <div class="col-10 col-lg-4 border rounded pt-3">
        <form #f="ngForm" (ngSubmit)="onLogin(f)">
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input id="email" class="form-control" type="text" placeholder="Email Id" name="email" ngModel required
              email>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" class="form-control" type="password" placeholder="Password" name="password" ngModel
              required minlength=6>
            <small class="form-text text-danger" *ngIf="!valid">*Invalid Credentials</small>
          </div>
          <div class="form-group mt-4">
            <button class="btn btn-warning" type="submit" [disabled]="!f.form.valid">Login</button>
          </div>
        </form>
        <div class="row align-content-center border-top">
          <div class="col-12 text-center">
            <button [routerLink]="['/', 'auth', 'register']" class="btn btn-link text-success">
              <small>Create Account</small>
            </button>
            <span> - </span>
            <button [routerLink]="['/', 'auth', 'password-recovery']" class="btn btn-link text-danger">
              <small>Forgot Password</small>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
