<div class="row h-100 login__bg-color text-light">
  <div class="col-12">
    <div class="row h-100 align-content-center justify-content-center">
      <div class="col-12 display-4 text-center mb-5">My Scheduler</div>
      <div class="col-10 col-lg-4 border rounded pt-3">
        <form #f="ngForm" (ngSubmit)="onRecover(f)" *ngIf="!message">
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input id="email" class="form-control" type="text" placeholder="Email Id" name="email" ngModel required
              email>
          </div>
          <div class="form-group mt-4">
            <button class="btn btn-danger" type="submit" [disabled]="!f.form.valid">Recover</button>
          </div>
        </form>
        <div class="row justify-content-center pb-3" *ngIf="message">{{message}}</div>
        <div class="row align-content-center border-top">
          <div class="col-12 text-center">
            <button [routerLink]="['/', 'auth', 'login']" class="btn btn-link text-warning">
              <small>Log In</small>
            </button>
            <span> - </span>
            <button [routerLink]="['/', 'auth', 'register']" class="btn btn-link text-success">
              <small>Create Account</small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
