<div class="row h-100 login__bg-color text-light">
  <div class="col-12">
    <div class="row h-100 align-content-center justify-content-center">
      <div class="col-12 display-4 text-center mb-5">My Scheduler</div>
      <div class="col-10 col-lg-4 border rounded pt-3">
        <form #f="ngForm" (ngSubmit)="onReset(f)" *ngIf="!message">
          <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" class="form-control" type="password" placeholder="Password" name="password"
              [(ngModel)]="pswd" required minlength=6 maxlength="15">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input id="confirm_password" class="form-control" type="password" placeholder="Confirm Password"
              name="password2" [(ngModel)]="confirmPswd" required minlength=6 maxlength="15">
          </div>
          <small class="form-text text-danger" *ngIf="valid">*{{message}}</small>
          <div class="form-group mt-4">
            <button class="btn btn-success" type="submit"
              [disabled]="!((f.form.valid) && (pswd === confirmPswd))">Reset</button>
          </div>
        </form>
        <div class="row justify-content-center pb-3" *ngIf="message">{{message}}</div>
        <div class="row align-content-center border-top">
          <div class="col-12 text-center">
            <button [routerLink]="['/', 'auth', 'login']" class="btn btn-link text-warning">
              <small>Log In</small>
            </button>
            <span> - </span>
            <button [routerLink]="['/', 'auth', 'register']" class="btn btn-link text-success">
              <small>Create Account</small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
